body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(180, 255, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quize-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    background-color: rgba(101, 207, 101, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 20px black;
}

h1 {
    font-size: 50px;
}
.question,
.options {
    font-size: 30px;
}
.options-button {
    background-color: yellowgreen;
    font-size: 16px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.options-button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.result {
    font-size: 18px;
    margin-top: 20px;
    display: none;
    color: green;
}